<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="/static/login.css" type="text/css" rel="stylesheet" />
    <script src="/static/login.js" type="text/javascript" charset="utf-8">
    </script>
  </head>
  <body>
    <h1>Login</h1>
    {{message}}
    <p>Please log in.</p>
    <form name="loginform" action="/login" method="post"
        onsubmit="return login.submitForm();" enctype="application/x-www-form-urlencoded">
      <label for="username">Name:</label>
            <input type="text" name="username" id="id_username"
                    placeholder="account name" autofocus="autofocus" />
      <label for="password">Password:</label>
            <input type="password" name="password" id="id_password" placeholder="password" />
            <input type="hidden" name="key" id="id_key" value="{{key}}" />
            <input type="hidden" name="redir" id="id_redir" value="{{redirect}}" />
      <input type="submit" name="enter" value="Log In" id="id_submit" />
    </form>
    <script>
        if (!("autofocus" in document.createElement("input"))) {
            document.getElementById('id_username').focus();
        }
    </script>
    <hr />
  </body>
</html>
